<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<title>!!title!</title>
</head>

<body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

<div style="width: 800px; margin: auto">


  <h1>!!title!<image src="images/logo_cat_large.png" style="height: 20px; padding-left: 10px;" /></h1>

<form style="padding-top: 100px" method="get" action="doLogin">
  <div class="input">Username<input style="left: 50%" id="username" name="username" type="text" class="field" /></div>
  <div class="input">Password<input id="password" name="password" type="password" class="field" /></div>
  <div class="input" style="width: 100%"><input type="submit" class="text" value="login" /></div>
</form>


</div>

</body>

</html>