<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../styles/style.css" />
<title>title</title>
</head>

<body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

<div style="width: 800px; margin: auto">


<h1>Velkommen til holdadministration for TRIF U7</h1>

<a class="menu" href="/users">Brugere</a>
<a class="menu" href="/players">Spillere</a>
<a class="menu" href="/events">Arrangementer</a>
<a class="menu" href="/admin">Administration</a>
<a class="menu" href="/logout">Logout</a>

</div>

</body>

</html>