div
  label Name:
    input(name='user[name]', value=u.name || '')
div
  label eMail:
    input(name='user[email]', value=u.email || '')
div
  label Password:
    input(name='user[hashed_password]', value=u.hashed_password || '')
div
  label Administrator:
    input(name='user[isAdmin]', id='user[isAdmin]', type='checkbox', value=u.isAdmin || 0)
div
  input(type='submit', value='Save')
